body {
  margin: 0;
}
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0 auto;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1, h2, h3, h4 {
  font-family: "Poppins", "Times New Roman", Times, serif;
}
.App{
  height: 25vh;
  background-image: url("https://images.unsplash.com/photo-1536607751799-9636d99d4305?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-repeat: repeat;
  background-color: #242424;  
  
}

.header {
  display: flex;
  flex-flow: row-reverse;
 justify-content: space-between;
  font-size: 48px;
  }

#shopname {
  font-size: 136px;
  font-weight: 300;
}

#subtitle {
  font-size: 72px;
  font-weight: 300;
  margin-bottom: 0;
}

.monthlyHits {
  height: 40vh;
  background-color: #e2ffe6;
  color: black;

}
.monthlyHits > h2 {
  font-size: 72px;
  font-weight: 300;
}

.gridSelection {
  margin: 100px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 2px;
}

.productCard {
  display: flex;
  justify-content: center;
}

#imageAssortment {
  object-fit: cover;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  object-position: 15% 20%;
}

.productInfo {
  display: flex;
  max-width: 300px;
  max-height: 600px;
  background: rgb(228, 228, 228);
  border: solid gray 3px;
  border-radius: 10px;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 10px;
}

.productCardTitle {
  display: flex;
  flex-direction: column;
  height: 155px;
  overflow-y: scroll;
  white-space: wrap;
  color: purple;
  overflow: auto;
}

.buyButton {
  position: absolute;
  float: right;
  margin: 0 0 480px 262px;
  white-space: nowrap;
  z-index: 1;
  font-family: "Darker Grotesque", sans-serif;
  background-color: #149770;
  color: white;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 5px;
}
